<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method = "POST">
        <input type="text" name="name" value="<%= name_feild %>" placeholder="Enter Name">
        <input type="text" name="city" value="<%= city_feild %>" placeholder="Enter city">
        <input type="text" name="state" value="<%= state_feild %>" placeholder="Enter state">>
        <select name="sort" id="sort">
          <option value="asc">Sort asc</option>
          <option value="desc">Sort desc</option> 
      </select>
        <input type="submit">
        </form>
        <div >
             <% listnames.forEach(function(name) { %>
                <div style="border-bottom: 1px solid black; padding:5px">
                <p>Name: <%= name.name.first %> <%= name.name.last %></p>
                <p>City: <%= name.location.city %> State: <%= name.location.state %> Country: <%= name.location.country %> Post-code: <%= name.location.postcode %></p>
                <p>Gender: <%= name.gender %></p>
                <p>Phone number: <%= name.phone %></p>
                </div>
                <% }); %>

        </div>
</body>
</html>
